$white: #ffffff;
$black: #000000;
$light-black: #313113;
$gray: #6A6A6A;
$border-gray: #DDDDDD;
$gray2: #F6F6F6;
$blue: #0099FF;
$dark-blue: #008AE7;
$blue2: #0094F6;
$red: #ff1e00;
$darken-blue: #000C31;
$darken-black: #00071C;
$green: #009900;
